html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-width: 320px;
  overflow-x: hidden; }

ul, li {
  padding-inline-start: 0;
  list-style-type: none; }

a {
  color: black;
  display: inline-block;
  text-decoration: none; }

body {
  height: 100vh; }

.header {
  padding-top: 50px;
  margin-bottom: 50px; }

.header-menu ul {
  display: flex;
  justify-content: space-evenly; }
  .header-menu ul li a {
    padding: 20px 15px;
    border-bottom: 1px solid black;
    transition: all .3s;
    transform: scale(1); }
    .header-menu ul li a:hover {
      border-bottom: 1px solid red;
      transform: scale(1.05); }

.container {
  display: flex;
  justify-content: space-around; }

.photo {
  background-image: url("../images/photo-round.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 350px;
  width: 100%; }

.about {
  max-width: 650px;
  margin-left: -50px;
  padding: 0 30px; }
  .about h1 {
    text-align: center; }
  .about .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .about .social-img {
    max-width: 64px; }

.social-list a {
  transition: all .5s;
  transform: scale(1); }
  .social-list a:hover {
    transform: scale(1.1); }

#fs-frm {
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px; }

#fs-frm-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 20px 35px;
  font-size: 20px;
  margin: 0;
  border-radius: 20px;
  background: #D7E3FC; }
  #fs-frm-inputs input {
    line-height: 2; }
  #fs-frm-inputs input, #fs-frm-inputs textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    resize: none;
    outline: none;
    border-radius: 15px;
    border: none;
    color: #000022;
    background: #D7E3FC;
    box-shadow: inset 5px 5px 7px #b7c1d6, inset -5px -5px 7px #E2EAFC; }
  #fs-frm-inputs input::placeholder, #fs-frm-inputs textarea::placeholder {
    color: #000022; }

.submit-btn {
  margin-top: 40px;
  padding: 15px 25px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(145deg, #9ab0e6, #b7d2ff);
  color: #000022;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all .5s;
  transform: scale(1); }
  .submit-btn:hover {
    background: transparent;
    border: 2px solid #9ab0e6;
    transform: scale(1.05); }

.job-inner {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .job-inner a {
    display: inline-block;
    outline: 1px solid slategrey;
    max-width: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    margin: 35px;
    transition: all .5s;
    transform: scale(1); }
    .job-inner a:hover {
      transform: scale(1.1);
      outline: 2px solid slategrey; }

@media (max-width: 1440px) {
  #fs-frm {
    max-width: 360px; }
  #fs-frm-inputs {
    padding: 15px 25px; }
  #fs-frm-inputs input, #fs-frm-inputs textarea {
    margin: 5px 0; }
  #fs-frm-inputs input {
    line-height: 1; }
  .submit-btn {
    font-size: 18px; } }

@media (max-width: 1100px) {
  .about, .photo {
    margin-left: 30px; } }

@media (max-width: 700px) {
  .photo {
    background-size: cover; }
  #fs-frm {
    margin-top: 0; } }

@media (max-width: 678px) {
  .main {
    flex-direction: column;
    align-items: center; }
  .photo {
    min-height: 350px; }
  .about {
    max-width: 100%; }
  .about, .photo {
    margin: 0 auto; }
  #fs-frm-inputs {
    justify-content: center;
    align-items: center; }
    #fs-frm-inputs input, #fs-frm-inputs textarea {
      margin: 7px auto; }
  #fs-frm-inputs, .submit-btn {
    font-size: 16px; } }

@media (max-width: 440px) {
  #fs-frm-inputs {
    padding: 10px 15px; }
  #fs-frm {
    max-width: 300px; } }

/*# sourceMappingURL=style.css.map */
