@media (max-width: 1100px) {
  .about{
    margin-left: 10px;
  }
}

@media (max-width: 1100px) {
  .about{
    margin-left: 30px;
  }
}

@media (max-width: 700px) {
  .photo{
    background-size: cover;
  }
}

@media (max-height: 700px) {
  .header{
    margin-bottom: 50px;
  }
}

@media (max-width: 678px) {
  .container{
    flex-direction: column;
  }
  .photo{
    margin: 0 auto;
    min-height: 350px;
  }
}

