@import "_vars";
@import "_global";

body {
  height: 100vh;
}

.header {
  padding-top: 50px;
  margin-bottom: 50px;
}

.header-menu {
  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      a {
        padding: 20px 15px;
        border-bottom: 1px solid black;
        transition: all .3s;
        transform: scale(1);

        &:hover {
          border-bottom: 1px solid red;
          transform: scale(1.05);
        }
      }
    }
  }
}

.container {
  display: flex;
  justify-content: space-around;
}

.photo {
  background-image: url('../images/photo-round.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 350px;
  width: 100%;
}

.about {
  h1 {
    text-align: center;
  }

  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .social-img {
    max-width: 64px;
  }

  max-width: 650px;
  margin-left: -50px;
  padding: 0 30px;
}

.social-list {
  a {
    transition: all .5s;
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
    }
  }
}


#fs-frm {
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

#fs-frm-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 20px 35px;
  font-size: 20px;
  margin: 0;
  border-radius: 20px;
  background: #D7E3FC;

  input {
    line-height: 2;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    resize: none;
    outline: none;
    border-radius: 15px;
    border: none;
    color: #000022;
    background: #D7E3FC;
    box-shadow: inset 5px 5px 7px #b7c1d6,
    inset -5px -5px 7px #E2EAFC;
  }
  input::placeholder, textarea::placeholder {
    color: #000022;
  }
}

.submit-btn {
  margin-top: 40px;
  padding: 15px 25px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(145deg, #9ab0e6, #b7d2ff);
  color: #000022;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all .5s;
  transform: scale(1);

  &:hover {
    background: transparent;
    border: 2px solid #9ab0e6;
    transform: scale(1.05);
  }
}

.job-inner {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  a {
    display: inline-block;
    outline: 1px solid slategrey;
    max-width: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    margin: 35px;
    transition: all .5s;
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
      outline: 2px solid slategrey;
    }
  }
}

@import "_media";
