@import "_vars";
@import "_global";

body {
  height: 100vh;
}

.header {
  padding-top: 50px;
  margin-bottom: 150px;
}

.header-menu {
  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      a {
        padding: 20px 15px;
        border-bottom: 1px solid black;
        transition: all .5s;
        transform: scale(1);

        &:hover {
          transform: scale(1.2);
          border-bottom: 1px solid red;
        }
      }
    }
  }
}

.container {
  display: flex;
  justify-content: space-around;
}

.photo {
  background-image: url(../images/photo-round.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 350px;
  width: 100%;
}

.about {
  h1 {
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-img {
    max-width: 64px;
  }

  max-width: 650px;
  margin-left: -50px;
  padding: 0 30px;
}

.social-list {
  a {
    transition: all .5s;
    transform: scale(1);

    &:hover {
      transform: scale(1.2);
    }
  }
}


#fs-frm {
  margin-top: 50px;
  text-align: center;
  max-width: 330px;
  width: 100%;
}

#fs-frm-inputs {
  display: flex;
  border: none;
  background-color: rgba(lightgrey, .5);
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 18px;

  input, textarea {
    margin: 30px;
    max-width: 267px;
    width: 267px;
  }
}

.submit-btn {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: rgba(lightgrey, .5);
  border: none;
  border-radius: 18px;
  font-size: 18px;
  cursor: pointer;
  transition: all .5s;
  transform: scale(1);
  &:hover{
    transform: scale(1.1);
  }
}

.job-inner{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  a{
    display: inline-block;
    outline: 1px solid slategrey;
    max-width: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    margin: 35px;
    transition: all .5s;
    transform: scale(1);
    &:hover{
      transform: scale(1.1);
      outline: 2px solid slategrey;
    }
  }
}

@import "_media";